.container-home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
    width: 50%;
}

.right-section-home{
    display: flex;
    align-items: center;
    gap: 20px;
}

.p-user-home{
    color: white;
}

.span-user-home{
    font-weight: bold;
}

.logo-home{
    width: 150px;
    height: auto;
}

.exit-a-home{
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.exit-a-home:hover{
    color:#45a049;
    text-decoration: underline;
}

.form-home{
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    background-color: #0a31529c;
    width: 40%;
    border-radius: 8px;
}

.location-home{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.div-amb-home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 10px;
}

.amb-name-home{
    color: white;
    margin-top: 15px;
}

.temp-input-home{
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 8px;
    margin-bottom: 20px;
    box-sizing: border-box;
    width: 100%;
}

.submit-home{
    padding: 10px 20px;
    border: 1px solid #ccc;
    background-color: #6fc985;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    box-sizing: content-box;
}

.submit-home:hover{
    background-color: #45a049;
}

.label-home {
    color: white;
    margin-right: auto;
}

.table-home{    
    margin: 10px;
    width: 40%;
    overflow-x: auto;
}

.thead-home{
    color: white;
    background-color: #0a31529c;
}

.th-home, .td-home{
    text-align: center;
    padding: 5px;
}

.tr-home:nth-child(odd){
    background-color: #ffffff;
}

.tr-home:nth-child(even){
    background-color: #c6c6c7;
}

/* Media Queries */
@media (max-width: 768px) {
    .top-home {
        width: 90%;
    }

    .logo-home {
        width: 120px;
    }

    .form-home {
        width: 90%;
    }

    .temp-input-home {
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
    }

    .submit-home {
        width: 50%;
        margin-left: 0;
    }

    .table-home {
        margin: 10px 0;
    }

    .table-home th, .table-home td {
        font-size: 14px;
        padding: 8px;
    }

    .label-home {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .top-home {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .logo-home {
        width: 100px;
    }

    .form-home {
        width: 100%;
    }

    .temp-input-home {
        width: 100%;
    }

    .submit-home {
        width: 70%;
    }

    .table-home th, .table-home td {
        font-size: 12px;
        padding: 10px;
    }
}
