.container-home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.top-home{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    position: relative;
}

.amb-name-home{
    color: white;
}

.user-name-home{
    color: white;
}

.exit-a-home{
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.exit-a-home:hover{
    color:#45a049;
    text-decoration: underline
}

.form-home{
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    background-color: #0a31529c;
    border-radius: 8px;
}

.temp-input-home{
    border-radius: 8px;
    border: 1px;
    padding: 8px;
    flex: 1;
    align-items: center;
    width: 150px;
    margin-right: 15px;
    margin-bottom: 20px;
}

.submit-home{
    padding: 10px 20px;
    border: 1px solid #ccc;
    background-color: #6fc985;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    width: 20%;
    box-sizing: content-box;
}

.submit-home:hover{
    background-color: #45a049;
}

.table-home{    
    margin: 10px;
}

.thead-home{
    color: white;
    background-color: #0a31529c;
}

.th-home, .td-home{
    text-align: center;
    padding: 5px;
}

.tr-home:nth-child(odd){
    background-color: #ffffff;
}

.tr-home:nth-child(even){
    background-color: #c6c6c7;
}