.container-home{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-home{
    width: 60%;
    display: flex;
    padding: 10px;
}

.logo-adm{
    width: 150px;
    height: auto;
}

.exit-a-home{
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.exit-a-home:hover{
    color:#45a049;
    text-decoration: underline
}

.form-home{
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    background-color: #0a31529c;
    border-radius: 8px;
}

.print-adm{
    width: 20px;
    height: auto;
    margin-left: auto;
}

.submit-home{
    padding: 10px 20px;
    border: 1px solid #ccc;
    background-color: #6fc985;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    width: 20%;
    box-sizing: content-box;
}

.submit-home:hover{
    background-color: #45a049;
}

.thead-home{
    color: white;
    background-color: #0a31529c;
}

.th-home, .td-home{
    text-align: center;
    padding: 5px;
}

.tr-home:nth-child(odd){
    background-color: #ffffff;
}

.tr-home:nth-child(even){
    background-color: #c6c6c7;
}